@model IEnumerable<MakeupStore.App.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h4>Browse Inventory</h4>
<a asp-action="Create">Add New Item</a>
<div class="text-center">
    <h1 class="display-4">Here is all inventory for stores: </h1>
    <p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </th>*@

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            $ @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        @*<td>
                                @Html.DisplayNameFor(modelItem => item.Quantity)
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </p>
</div>
<div>
</div>
